.actionbar {
    -fx-min-height: size-actionbar-height;
    -fx-max-height: size-actionbar-height;
    -fx-pref-height: size-actionbar-height;
    -fx-background-color: transparent;
}

.image-button {
    -fx-padding: 2;
    -fx-pref-width: 40;
    -fx-max-width: 40;
    -fx-max-height: Infinity;
    -fx-pref-height: Infinity;
}
.image-button.closeButton:hover {
    -fx-background-color: transparent-red-faint;
}
.image-button.closeButton:pressed {
    -fx-background-color: transparent-red-firm;
}