.actionbar {
    -fx-max-height: 0;
    -fx-background-color: transparent;
}

.cleanButton.closeButton:hover {
    -fx-background-color: transparent-red-faint;
}

.cleanButton.closeButton:pressed {
    -fx-background-color: transparent-red-firm;
}