* {
    color-background: white;
    color-layout: #e8e2dc;
    color-text: black;
    color-hint: #454545;
    color-accent: #05b08e;

    color-red: #e62e19;
    color-green: #0dbf28;

    transparent-red-faint: #e02d1960;
    transparent-red-firm: #8a1c0f;
    transparent-gray-faint: #75757560;
    transparent-gray-firm: #757575B0;
    transparent-black-faint: #00000055;
    transparent-black-firm: #00000099;

    -fx-font-family: "Helvetica";
    -fx-text-fill: color-text;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-traversable: false;
}

/* --- IMAGE BUTTON ---*/
.image-button {
    -fx-background-insets: 0;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-background-radius: null;
    -fx-effect: null;
}
.image-button:hover {
    -fx-background-color: transparent-gray-faint;
}
.image-button:pressed {
    -fx-background-color: transparent-gray-firm;
}

/* --- BUTTON --- */
.button {
    -fx-font-weight: normal;
    -fx-background-radius: 2;
    -fx-effect: dropshadow(three-pass-box, transparent-black-firm, 6, 0, 0, 1);
}
.button:hover {
     -fx-background-color: derive(color-accent, -15%);
}
.button:pressed {
     -fx-background-color: derive(color-accent, -30%);
}

/* --- TEXT AREA --- */
.text-area {
    -fx-font-size: 13;
    -fx-effect: null;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

/* --- SPLIT PANE --- */
.split-pane {
    -fx-background-color: transparent;
}
.split-pane:horizontal > .split-pane-divider, .split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 4;
}

/* --- SCROLL PANE --- */
.scroll-pane, .scroll-pane .viewport, .scroll-pane .content {
    -fx-background-color: transparent;
}

/* --- SCROLL BAR --- */
.scroll-bar, .scroll-bar .track, .corner,
.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow,
.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-padding: 0;
}
.scroll-bar:vertical {
    -fx-padding: 8 0 8 0;
}
.scroll-bar:horizontal {
    -fx-padding: 0 9 0 8;
}
.scroll-bar:vertical .thumb {
    -fx-background-insets: -6 0 -6 0;
}
.scroll-bar:horizontal .thumb {
    -fx-background-insets: 0 -6 0 -6;
}
.scroll-bar .thumb {
    -fx-background-color: derive(color-text, 60%);
    -fx-background-radius: 2;
}
.scroll-bar .thumb:hover {
    -fx-background-color: derive(color-text, 40%);
}
.scroll-bar .thumb:pressed {
    -fx-background-color: color-text;
}

/* --- STYLE CLASSES --- */

.layout {
    -fx-background-color: color-layout;
    -fx-alignment: top-center;
    -fx-padding: 0 8 8 8;
    -fx-spacing: 8;
}

.container {
    -fx-effect: innershadow(three-pass-box, transparent-black-faint, 4, 0, 0, 0);
    -fx-background-color: color-background;
    -fx-alignment: center;
    -fx-background-radius: 4;
    -fx-padding: 0;
}

.title {
    -fx-pref-width: Infinity;
    -fx-max-width: Infinity;
    -fx-min-height: 28;
    -fx-pref-height: 28;
    -fx-max-height: 28;
    -fx-padding: 2 116 0 36;
    -fx-background-insets: 0 -8 0 -8;
    -fx-background-color: color-layout;
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-alignment: top-center;
    -fx-effect: dropshadow(three-pass-box, transparent-black-faint, 6, 0, 0, 0);
}

/* --- TEXT FORMAT --- */

.h1 {
    -fx-font-size: 18;
}

.h2 {
    -fx-font-size: 16;
}

.bold {
    -fx-font-weight: bold;
}

.hint {
    -fx-text-fill: color-hint;
    -fx-font-size: 12;
}

.error {
    -fx-text-fill: color-red;
    -fx-font-size: 12;
}

/*
*//* --- CHOICE BOX --- *//*
.choice-box {
    -fx-background-color: color-dark;
    -fx-mark-color: transparent;
    -fx-focused-mark-color: transparent;
}
.choice-box .label {
    -fx-text-fill: white;
}
.choice-box .context-menu {
    -fx-background-radius: 4;
    -fx-background-color: color-dark;
}
.choice-box .menu-item:focused {
    -fx-background-radius: 4;
    -fx-background-color: color-lite;
}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: color-dark;
}

*//* --- HYPERLINK --- *//*
.hyperlink {
    -fx-font-size: 12;
    -fx-underline: true;
    -fx-text-fill: color-accent;
}
.hyperlink:pressed {
    -fx-text-fill: color-medium;
}

*//* --- SEPARATOR --- *//*
.separator *.line {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: color-lite;
}

*/
